/* Global CSS Starts*/
h2, h4, h3{
    color: rgba(255, 127, 80, 0.842);
}
/* Global CSS Ends*/

/* Search Input Styles Starts */
.load-spin{
    width: 50px;
    height: 50px;
    color: coral;
    margin: auto;
    display: none;
}

input#search-field {
    border: 1px solid rgba(255, 127, 80, 0.842);
}

button#button-addon2 {
    background-color: rgba(255, 127, 80, 0.842);
    border: 1px solid rgba(255, 127, 80, 0.842);
    color: #FFFFFF;
    transition: .3s;
    outline: none;
}

button#button-addon2:hover {
    background-color: #FFFFFF;
    color: rgba(255, 127, 80, 0.842);
}

button#button-addon2:focus,button#button-addon2:active {
    box-shadow: none;
}

input#search-field:focus {
    box-shadow: none;
}

/* Search Input Styles Ends */

/* Important Message Area Starts */
#result-found{
    color: rgba(255, 127, 80, 0.842);
    font-weight: 700;
}
/* Important Message Area Ends */

/* Card Grid Styles Starts */
.card img {
    height: 300px;
    width: 90%;
    margin: auto;
    display: block;
    margin-top: 10px;
}
.card-body h4 {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
}

.card-body h3 {
    font-size: 19px;
    margin-bottom: 30px;
}

.card-body p{
    font-weight: 700;
}

.card {
    border: 1px solid rgba(255, 127, 80, 0.842);
    transition: .5s;
}

.card:hover {
    box-shadow: 3px 3px 9px -2px rgba(255, 127, 80, 0.842);
}
/* Card Grid Styles Ends */